<% layout('layout') %>



<div class="container">
  <div id="pins">
    <% for(var i = 0; i < pins.length; i++) { %>
      <div class="box" style="margin:20px">
        <a href="/pins/details/<%= pins[i]._id %>"><img src="<%= pins[i].path %>" style="width: 200px" /></a>
        <h2><a href="/pins/details/<%= pins[i]._id %>"></a> <%= pins[i].title %></h2>
        <p>
            Submitted by <%= pins[i].username %>

            <a onClick="conf(event)" eval="del($this,data)" class="btn btn-default" href="/pins/delete/<%= pins[i]._id %>">Delete</a>
        </p>
      </div>
      <% } %>
  </div>
</div>

<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.js"></script>
<script>
function conf(event){
		if(confirm('do you really want to delete this?')==false){
			event.stopPropagation();	//it will prevent the further event bidings
			event.preventDefault();		//and it will prevent using this framework's ajax method
		}
	}

function del($this,data){
  if(data){
    //$this.closest('.box').remove();
    $('#pins').masonry( 'remove', $this.closest('.box') );
    $('#pins').masonry( 'layout' );
  }
}

  $(function(){
    return $('#pins').imagesLoaded(function(){
      return $('#pins').masonry({
        itemSelector: '.box',
        isFitWidth: true
      })
    })
  })
</script>
